@charset "uft-8";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GmarketSansMedium';
}

a{
    text-decoration: none;
    color: inherit;
}

ul, li, ol{list-style: none;}

body{
    font-size: 14px;
    line-height: 1.5;
}

img{
    border: none;
    vertical-align: bottom;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}